Repository opensource-workshop/connect-cms, pull requests merged in 2021-06, with the labels that each got.

#885 【課題管理】課題管理選択画面に設定変更ボタン追加 他３件
  app/Plugins/User/Learningtasks/LearningtasksPlugin.php
  resources/views/plugins/user/learningtasks/default/learningtasks_list_buckets.blade.php
Labels: additional request, plugin(LearningTask)

#887 【課題管理】設定コピー機能追加
  app/Models/User/Learningtasks/Learningtasks.php
  app/Models/User/Learningtasks/LearningtasksConfigs.php
  app/Models/User/Learningtasks/LearningtasksPosts.php
  app/Models/User/Learningtasks/LearningtasksPostsTags.php
  app/Plugins/User/Learningtasks/LearningtasksPlugin.php
  app/Plugins/User/Learningtasks/LearningtasksTool.php
  database/migrations/2021_06_03_173844_drop_learningtasks_posts_tags_table.php
  database/migrations/2021_06_04_145708_drop_use_report_use_examination_from_learningtasks.php
  database/migrations/2021_06_04_150532_drop_use_report_use_examination_from_learningtasks_posts.php
  resources/views/plugins/user/learningtasks/default/learningtasks_edit_evaluate.blade.php
  resources/views/plugins/user/learningtasks/default/learningtasks_edit_examinations.blade.php
  resources/views/plugins/user/learningtasks/default/learningtasks_edit_learningtasks.blade.php
  resources/views/plugins/user/learningtasks/default/learningtasks_edit_users.blade.php
  resources/views/plugins/user/learningtasks/default/learningtasks_input.blade.php
  resources/views/plugins/user/learningtasks/default/learningtasks_list_buckets.blade.php
  resources/views/plugins/user/learningtasks/old/learningtasks_input.blade.php
Labels: additional request, plugin(LearningTask)

#778 マイページに最終ログイン表示
  app/Listeners/LogSuccessfulLogin.php
  app/Models/Core/UsersLoginHistories.php
  app/Plugins/Manage/UserManage/UserManage.php
  app/Plugins/Mypage/LoginHistoryMypage/LoginHistoryMypage.php
  app/Plugins/Mypage/MypagePluginBase.php
  app/Providers/EventServiceProvider.php
  database/migrations/2021_03_26_164509_create_users_login_histories_table.php
  resources/views/plugins/manage/user/list.blade.php
  resources/views/plugins/manage/user/login_history.blade.php
  resources/views/plugins/manage/user/user_manage_tab.blade.php
  resources/views/plugins/mypage/loginhistory/list.blade.php
  resources/views/plugins/mypage/loginhistory/loginhistory_mypage_tab.blade.php
  resources/views/plugins/mypage/menus_list.blade.php
  resources/views/plugins/mypage/mypage.blade.php
Labels: additional request, manage(user), mypage, new plugin

#888 Extern auth：NC2外部認証連携部分修正
  app/Http/Controllers/Auth/LoginController.php
  app/Traits/ConnectCommonTrait.php
Labels: authentication, bug, enhancement
