Repository opensource-workshop/connect-cms, pull requests merged in 2023-04, with the labels that each got.

#1633 [データベース]詳細画面の一覧へボタンで戻ると検索結果が表示されない事象を修正しました
  app/Plugins/User/Databases/DatabasesPlugin.php
  resources/views/plugins/user/databases/card_02/databases_detail.blade.php
  resources/views/plugins/user/databases/default/databases_detail.blade.php
  resources/views/plugins/user/databases/design-table-dl/databases_detail.blade.php
Labels: bug, plugin(database)

#1635 [データベース]詳細画面でブラウザバックするとフォーム再送信の確認が表示される事象を修正しました
  app/Plugins/User/Databases/DatabasesPlugin.php
  resources/views/plugins/user/databases/default/databases_include_ctrl_head.blade.php
Labels: bug, plugin(database)

#1636 [データベース]ファイル項目のダウンロード件数、ダウンロードボタンを表示できるようにしました
  app/Plugins/User/Databases/DatabasesPlugin.php
  database/migrations/2023_04_05_175111_add_show_download_count_to_databases_columns_table.php
  database/migrations/2023_04_05_175112_add_show_download_button_to_databases_columns_table.php
  resources/views/plugins/user/databases/default/databases_edit_row_detail.blade.php
  resources/views/plugins/user/databases/default/databases_include_detail_value.blade.php
  resources/views/plugins/user/databases/default/databases_include_value.blade.php
Labels: enhancement, plugin(database)

#1637 [NC3移行] 移行元ユーザで一部のユーザーがログインできない不具合修正
  app/Http/Controllers/Auth/LoginController.php
Labels: bug

#1639 [データベース]データにカテゴリを設定する機能を追加しました
  app/Models/User/Databases/DatabasesInputs.php
  app/Plugins/User/Databases/DatabasesPlugin.php
  database/migrations/2023_04_13_115632_add_categories_id_to_databases_inputs_table.php
  resources/views/plugins/user/databases/databases_frame_edit_tab.blade.php
  resources/views/plugins/user/databases/default/databases_confirm.blade.php
  resources/views/plugins/user/databases/default/databases_input.blade.php
  resources/views/plugins/user/databases/default/databases_list_categories.blade.php
Labels: enhancement, plugin(database)

#1640 [データベース]ファイルのダウンロード件数で並べ替えをする機能を追加しました
  app/Plugins/User/Databases/DatabasesPlugin.php
  database/migrations/2023_04_17_154545_add_sort_download_count_to_databases_columns_table.php
  resources/views/plugins/user/databases/default/databases_edit_row_detail.blade.php
  resources/views/plugins/user/databases/default/databases_edit_view.blade.php
  resources/views/plugins/user/databases/default/databases_include_ctrl_head.blade.php
Labels: enhancement, plugin(database)

#1641 [データベース]カテゴリ未選択時に確認画面でエラーになる問題を修正しました
  resources/views/plugins/user/databases/default/databases_confirm.blade.php
Labels: plugin(database), ignore for release

#1642 [データベース]詳細内容が表示されない問題を修正しました
  app/Plugins/User/Databases/DatabasesPlugin.php
Labels: plugin(database), ignore for release

#1646 [データベース] 複数単語で検索した場合の結果表示が遅い問題に対応
  app/Plugins/User/Databases/DatabasesTool.php
Labels: bug

#1647 [データベース] 複数単語で検索した場合の結果表示が遅い問題の再対応 OW-1838
  app/Plugins/User/Databases/DatabasesTool.php
Labels: bug

#1610 [フレーム]ログインしていると、権限に関係なくフレームステータスラベルが見えてしまう不具合を修正しました。
  resources/views/core/cms_frame_header.blade.php
Labels: bug, Flame

#1643 [サイト内検索]カテゴリとタグを検索対象に追加しました
  app/Plugins/User/Blogs/BlogsPlugin.php
  app/Plugins/User/Databases/DatabasesTool.php
  app/Plugins/User/Faqs/FaqsPlugin.php
  resources/views/plugins/user/databases/default/databases_input.blade.php
Labels: enhancement, plugin(search)

#1644 [サイト内検索]対象を絞って検索するかユーザが選択できるようにしました
  app/Models/User/Searchs/Searchs.php
  app/Plugins/User/Searchs/SearchsPlugin.php
  resources/views/plugins/user/searchs/default/searchs_edit_search.blade.php
  resources/views/plugins/user/searchs/default/searchs_form.blade.php
Labels: enhancement, plugin(search)

#1649 [サイト内検索]対象を絞って検索するかユーザが選択できるようにしました（追加ファイル）
  database/migrations/2023_04_20_195212_add_narrow_down_label_to_searchs_table.php
Labels: ignore for release

#1648 [フォーム]登録データを掲示板、FAQ、ブログへ連携する機能を追加しました
  app/Enums/FormsRegisterTargetPlugin.php
  app/Models/User/Faqs/FaqsPosts.php
  app/Models/User/Forms/Forms.php
  app/Plugins/User/Forms/FormsPlugin.php
  config/app.php
  database/migrations/2023_04_20_140941_add_target_frame_ids_to_forms_table.php
  resources/views/plugins/user/forms/default/forms_edit_form.blade.php
  resources/views/plugins/user/forms/default/forms_list_inputs.blade.php
Labels: new feature, plugin(forms)

#1650 [サイト内検索]指定ページ配下を検索対象にする機能を追加しました
  app/Plugins/User/Searchs/SearchsPlugin.php
  database/migrations/2023_04_25_234933_drop_narrow_down_label_to_searchs_table.php
  resources/views/plugins/user/searchs/default/searchs_edit_search.blade.php
  resources/views/plugins/user/searchs/default/searchs_form.blade.php
  resources/views/plugins/user/searchs/default/searchs_result.blade.php
Labels: enhancement

#1651 [サイト内検索]設定変更でシステムエラーの問題を修正しました
  app/Plugins/User/Searchs/SearchsPlugin.php
Labels: bug, ignore for release
